/.vs/NBeeNET.Mjolnir.Storage/v15/.suo
/.vs/NBeeNET.Mjolnir.Storage/v15/Server/sqlite3/db.lock
/.vs/NBeeNET.Mjolnir.Storage/v15/Server/sqlite3/storage.ide
/.vs/NBeeNET.Mjolnir.Storage/v15/Server/sqlite3/storage.ide-shm
/.vs/NBeeNET.Mjolnir.Storage/v15/Server/sqlite3/storage.ide-wal
/src/NBeeNET.Mjolnir.Storage.Core/obj
/src/NBeeNET.Mjolnir.Storage.Core/bin
/src/NBeeNET.Mjolnir.Storage.Image/obj
/src/NBeeNET.Mjolnir.Storage.Image/bin
/tests/NBeeNET.Mjolnir.Storage.Tests/obj
/tests/NBeeNET.Mjolnir.Storage.Tests/bin
/src/NBeeNET.Mjolnir.Storage.API/obj
/src/NBeeNET.Mjolnir.Storage.API/bin
/src/NBeeNET.Mjolnir.Storage.Local/obj
/src/NBeeNET.Mjolnir.Storage.Local/bin
/tests/NBeeNET.Mjolnir.Storage.NetCoreTests/obj
/tests/NBeeNET.Mjolnir.Storage.NetCoreTests/bin
/.vs/VSWorkspaceState.json
/tests/NBeeNET.Mjolnir.Storage.NetCoreTests/temp
/tests/NBeeNET.Mjolnir.Storage.NetCoreTests/wwwroot/NBeeNET
/src/NBeeNET.Mjolnir.Storage.AWSS3/bin
/src/NBeeNET.Mjolnir.Storage.AWSS3/obj
/src/NBeeNET.Mjolnir.Storage.AzureBlob/bin
/src/NBeeNET.Mjolnir.Storage.AzureBlob/obj
/.vs
/src/NBeeNET.Mjolnir.Storage.Office/bin
/src/NBeeNET.Mjolnir.Storage.Office/obj
/src/NBeeNET.Mjolnir.Storage.Audio/obj
/src/NBeeNET.Mjolnir.Storage.Audio/bin
/src/NBeeNET.Mjolnir.Storage.Video/obj
/src/NBeeNET.Mjolnir.Storage.Video/bin
/samples/NetworkPrint/bin
/samples/NetworkPrint/obj
/samples/NetworkPrint/temp
/samples/NetworkPrint/wwwroot/NBeeNET_Mjolnir
/tests/NBeeNET.Mjolnir.Storage.NetCoreTests/wwwroot
/tests/NBeeNET.Mjolnir.Storage.NetCoreTests/Properties
/samples/NetworkPrint/healthchecksdb
/samples/NetworkStorage/bin
/samples/NetworkStorage/obj
/src/NBeeNET.Mjolnir.Storage.Print/obj
/src/NBeeNET.Mjolnir.Storage.Print/bin
/src/NBeeNET.Mjolnir.Storage.Job/bin
/src/NBeeNET.Mjolnir.Storage.Job/obj
/samples/NetworkStorage/temp
/samples/NetworkStorage/wwwroot/NBeeNET_Mjolnir
/src/NBeeNET.Mjolnir.Storage.Job.Print/bin
/src/NBeeNET.Mjolnir.Storage.Job.Print/obj
/src/NBeeNET.Mjolnir.Storage/bin
/src/NBeeNET.Mjolnir.Storage/obj
/samples/NetworkPrintUI
