@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div >
    <div class="card">
        <div class="card-header">本实例提供一个文档上传和文档打印功能</div>
        <div class="card-body">

            接口<br />
            /Office/Upload       Post   上传（上传后自动转存PDF）<br />
            /Office/UploadPrint  Post   上传后打印(上传后自动转存PDF并打印)<br />
            /Office/Print/{Url}  Post   打印<br />
            /Office/Json/{Url}   GET    获取文件详情<br />

        
        </div>
    </div>
</div>

