@page
@model NetworkPrint.Pages.JobModel
@{
    ViewData["Title"] = "Job";
}

<div>
    <div class="card">
        <div class="card-header text-center">获取作业任务</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3" style="text-align:left">
                    <div class="form-group">
                        <label for="fileId">File Id</label><br />
                        <input type="text" class="form-control" name="id" id="fileId">
                    </div>
                </div>
                <div class="col-md-3" style="text-align:left">
                    <div class="form-group">
                        <label for="jobKey">Key</label><br />
                        <input type="text" class="form-control" name="id" id="jobKey">
                    </div>
                </div>
                <div class="col-md-3" style="text-align:left">
                    <div class="form-group">
                        <label for="jobState">State</label><br />
                        <input type="text" class="form-control" name="id" id="jobState">
                    </div>
                </div>
                <div class="col-md-3" style="text-align:left">
                    <div class="form-group">
                        <label for="btnGetJob">&nbsp;</label><br />
                        <button id="btnGetJob" type="button" class="btn btn-primary"> 获 取 </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="comment">返回结果:</label>
                <textarea class="form-control" rows="6" id="comment"></textarea>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="card">
        <div class="card-header text-center">设置作业任务</div>
        <div class="card-body">

            <form method="post" id="jobForm">
                <div class="form-group">
                    <label for="comment">设置信息:</label>
                    <textarea class="form-control" rows="5" id="jobStr" name="jobStr"></textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-9" style="text-align:left">
                            <div class="form-group">
                                <input id="jobFiles" class="file" type="file" name="files" multiple accept=".doc,.docx,.xls,.xlsx,.ppt,.pptx" />
                            </div>
                        </div>
                        <div class="col-md-3" style="text-align:left">
                            <div class="form-group">
                                <button id="btnSetJob" type="button" class="btn btn-primary">设置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

