@page
@model NetworkPrint.Pages.PrintModel
@{
    ViewData["Title"] = "Print";
}

<div>
    <div class="card">
        <div class="card-header text-center">文件打印</div>
        <div class="card-body">

            <form method="post" id="printForm">

                <p>请选择一个需要打印的文档文件:</p>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group ">
                            <input class="file" type="file" name="file" accept=".doc,.docx,.xls,.xlsx,.ppt,.pptx,.txt,.pdf,.jpg,.png" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <input type="hidden" name="jobs" value="[{'Key':'Print'},{'Key':'CreatePDF'}]" />
                            <button id="btnUpload" type="button" class="btn btn-primary"> 上传 </button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="btnUpload2" type="button" class="btn btn-primary"> 上传并执行Job </button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="btnView" type="button" class="btn btn-primary" disabled> 预 览 </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">

                <div class="col-md-12" style="text-align:left">
                    <div class="form-group">
                        <label for="comment">返回结果:</label>
                        <textarea class="form-control" rows="6" id="comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12" style="text-align:left">
                    <div class="form-group">
                        <label for="comment">打印状态:</label>
                        <textarea class="form-control" rows="6" id="printstatus"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {

            $("#btnUpload").click(function () {
                upload();
            });
            $("#btnUpload2").click(function () {
                uploadAndRunJobs();
            });

        });

        function upload() {
            var formData = new FormData($('#printForm')[0]);
            var $output = document.getElementById('comment');

            $.ajax({
                url: '/StorageApi/Upload',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                    $output.value = JSON.stringify(returndata, null, 2);

                },
                error: function (returndata) {
                    $output.value = JSON.stringify(returndata, null, 2);
                }
            });


        }

        function uploadAndRunJobs() {
            var formData = new FormData($('#printForm')[0]);
            var $output = document.getElementById('comment');

            $.ajax({
                url: '/StorageApi/UploadJob',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                    $output.value = JSON.stringify(returndata, null, 2);
                    //获取打印状态
                    getPrintJob(returndata.id)

                },
                error: function (returndata) {
                    $output.value = JSON.stringify(returndata, null, 2);
                }
            });
        }

        function getPrintJob(id) {

            var $output = document.getElementById('printstatus');


            var interval = setInterval(function () {
                $.ajax({
                    url: '/StorageApi/PrintJob?id=' + id,
                    type: 'Get',
                    data: null,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (returndata) {

                        $output.value = JSON.stringify(returndata, null, 2);
                        if (returndata != null && returndata.length > 0) {
                            if (returndata[0].jobStatus == "打印完成") {
                                clearInterval(interval);
                            }
                        }
                    },
                    error: function (returndata) {
                        $output.value = JSON.stringify(returndata, null, 2);
                    }
                });
            }, 1000);
        }

    </script>
}

