@page
@model NetworkStorage.Pages.ImageModel
@{
    ViewData["Title"] = "Image";
}


<div class="text-center">
    <div class="card">
        <div class="card-header">上传Image</div>
        <div class="card-body">

            <form method="post" id="imageForm">
                <div class="form-group">
                    <div class="col-md-10" style="text-align:left">
                        <p>请选择一个Image文件:</p>
                        <input class="file" type="file" name="file" accept="image/*" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="text-align:left" id="btn_group">

                        <button id="btnUpload1" type="button" class="btn btn-primary">上传</button>

                    </div>

                </div>
                <div class="form-group">
                    <label for="comment">返回结果:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>

            </form>
        </div>
    </div>
</div>
<div>

    缩略图(100*100)<br />
    <img id="image_Small" src="" /><br />
    预览图(200*200)<br />
    <img id="image_Medium" src="" /><br />
    原图<br />
    <img id="image" src="" width="400" />
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#btnUpload1").click(function () {

                var formData = new FormData($('#imageForm')[0]);

                $.ajax({
                    url: '/StorageApi/Image/Upload',
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (returndata) {
                        $('#image').attr("src", "/" + returndata.url);
                        
                        $("#comment").text(JSON.stringify(returndata));

                        setTimeout(function () {
                            $('#image_Small').attr("src", "/" + returndata.path + "/" + returndata.id + "_Small." + returndata.type);
                            $('#image_Medium').attr("src", "/" + returndata.path + "/" + returndata.id + "_Medium." + returndata.type);
                        }, 2000) 
                    },
                    error: function (returndata) {
                        alert(returndata);
                    }
                });

            });


        });
    </script>
}
