@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Mjolnir.Storage 是一个基于 .Net Core + Restful API 开发的对象存储代理作业服务。<br/>
        <a href="https://github.com/NBeeNET/Mjolnir.Storage">Github</a>.
    </p>
</div>
